{% extends 'base.html' %}

{% block content %}

<!-- Masthead -->
<header class="masthead text-white text-center">
	<div class="overlay"></div>
	<div class="container">
		<div class="row">
			<div class="col-xl-9 mx-auto">
				<h1 class="mb-5">We've emailed you instructions for resetting your password.</h1>
				<h2 class="mb-5">If an account exists with the email you entered, you should receive it shortly.</br></br>If you don't receive an email, please make sure you've entered the correct email address, and be sure to check your spam folder.</h2>
			</div>
		</div>
	</div>
</header>

{% endblock %}